<!DOCTYPE html>
<html lang="en">
<head>
  {% include "templates/includes/header.html" %}
  <link href="./assets/bldc/css/about.css" rel="stylesheet" />
</head>
<body>
    {% include "templates/includes/navbar.html" %}
    <section class="section pb-0 pt-5 mt-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 mr-auto">
              <h2 class="mb-6">Vision and Mission</h2>
              <p class="mb-10">
                  The ultimate goal of Wahni Green Technologies is to build a self-sufficient and energy-efficient society with a strong scientific base and expertise in technology.
                  The company's mission is to bring technology and its benefits to the maximum number of people at the lowest possible cost, based on the concept of "Self-Sufficient Home-Sustainable Home-Independent Home". It mainly includes services related to fresh water and energy.
                  The high quality of services and products provided at a low cost enables us to stay in the market. Wahni aims to have a good customer base and a wide range of quality products and services for them.
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 ml-auto order-2">
              <h2 class="mb-6">Policy and Political Position </h2>
              <p class="mb-10">
                  Software and systems used for Wahni's internal purposes will be exclusively based on free softwares and hardwares.
                  Moreover, the technology of the products derived from Wahni's independent research will be made available under free license within the first two years after the product reaches the market irrespective of any adverse situation.
              </p>
              <p class="mb-10 text-center"><i>"Knowledge and energy must always be free for the sustainable survival and growth of society."</i></p>
              <p class="mb-10">
                  Wahni wants to ensure that one does not become unable to work due to the difficulties created by the social environment. Wahni's activities are designed to enable those who are unable to stay away from home for even six or seven consecutive hours for work, especially women who have to look after children and the elderly.
                  This was made possible by the decentralized use of office facilities with the help of information technology and the adjustment of working methods to ensure maximum freedom of the employees. The uniqueness of this model put forward by Wahni is that it can be adjusted in a way that does not affect the quality of services even while working from home.
                  Wahni also wants the benefits of this facility to be available all.<br><br>
                  Consumer rights protection is important for Wahni. Only products that have been tested thoroughly will be made available to customers through us. Wahni will take maximum precautions to ensure that anyone who buys a product from us is not deceived.</p>
            </div>
          </div>
        </div>
      </section>
      {% include "templates/includes/footer.html" %}
</body>
</html>
