<!DOCTYPE html>
<html lang="en">
<head>
  {% include "templates/includes/header.html" %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="./assets/bldc/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <title>Wahni green technologies</title>
  <link href="./assets/bldc/css/about.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid nav-container">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">
        <a href="./shop.html" class="navbar-brand">
          <img src="./assets/bldc/image/logo.png" width="80px" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="d-flex">
            <input class="search-input form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="search-form-cata btn btn-outline-success" type="submit">Search</button>
          </div>
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">BLDC</a></li>
                  <li><a href="#" class="dropdown-item">Solar PV Package</a></li>
                  <li><a href="#" class="dropdown-item">Solar water Heater</a></li>
                  <li><a href="#" class="dropdown-item">Solar Panel</a></li>
                  <li><a href="#" class="dropdown-item">Solar water Heater Tubes</a></li>
                  <li><a href="#" class="dropdown-item">Solar Batteries</a></li>
                  <li><a href="#" class="dropdown-item">Solar Inverters</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a href="./solar.html" class="dropdown-item">Solar Off Grid</a></li>
                  <li><a href="./solar.html" class="dropdown-item">Solar On Grid</a></li>
                  <li><a href="./solar.html" class="dropdown-item">Solar BI directional Hybrid</a></li>
                  <li><a href="./solar.html" class="dropdown-item">Solar Water Heating Solution</a></li>
                  <li><a href="./solar.html" class="dropdown-item">Load Optimisation</a></li>
                  <li><a href="./solar.html" class="dropdown-item">EV Charging solution</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Customer Support
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Book a complaint</a></li>
                  <li><a href="#" class="dropdown-item">Track the complaint</a></li>
                  <li><a href="#" class="dropdown-item">Track the shipment</a></li>
                  <li><a href="#" class="dropdown-item">Track the project</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Blog</a></li>
                  <li><a href="#" class="dropdown-item">Company</a></li>
                  <li><a href="#" class="dropdown-item">Team</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reach Us
                </a>
                <ul class="dropdown-menu">
                  <li><a href="./acesspoint.html" class="dropdown-item">Acess Point</a></li>
                  <li><a href="./contact.html" class="dropdown-item">Contact</a></li>
                </ul>
              </li>
            </ul>
            <div>
              <div class="cart-container mr-2">
                <a href="http://103.86.176.198/cart">
                  <i class="bi bi-cart4"></i>
                  Cart
                </a>
              </div>
          </div>
        </div>
        
    </nav>
  </div>
    {% include "templates/includes/navbar.html" %}
    <section class="section pb-0 pt-5 mt-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 mr-auto">
              <h2 class="mb-6">Vision and Mission</h2>
              <p class="mb-10">
                  The ultimate goal of Wahni Green Technologies is to build a self-sufficient and energy-efficient society with a strong scientific base and expertise in technology.
                  The company's mission is to bring technology and its benefits to the maximum number of people at the lowest possible cost, based on the concept of "Self-Sufficient Home-Sustainable Home-Independent Home". It mainly includes services related to fresh water and energy.
                  The high quality of services and products provided at a low cost enables us to stay in the market. Wahni aims to have a good customer base and a wide range of quality products and services for them.
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 ml-auto order-2">
              <h2 class="mb-6">Policy and Political Position </h2>
              <p class="mb-10">
                  Software and systems used for Wahni's internal purposes will be exclusively based on free softwares and hardwares.
                  Moreover, the technology of the products derived from Wahni's independent research will be made available under free license within the first two years after the product reaches the market irrespective of any adverse situation.
              </p>
              <p class="mb-10 text-center"><i>"Knowledge and energy must always be free for the sustainable survival and growth of society."</i></p>
              <p class="mb-10">
                  Wahni wants to ensure that one does not become unable to work due to the difficulties created by the social environment. Wahni's activities are designed to enable those who are unable to stay away from home for even six or seven consecutive hours for work, especially women who have to look after children and the elderly.
                  This was made possible by the decentralized use of office facilities with the help of information technology and the adjustment of working methods to ensure maximum freedom of the employees. The uniqueness of this model put forward by Wahni is that it can be adjusted in a way that does not affect the quality of services even while working from home.
                  Wahni also wants the benefits of this facility to be available all.<br><br>
                  Consumer rights protection is important for Wahni. Only products that have been tested thoroughly will be made available to customers through us. Wahni will take maximum precautions to ensure that anyone who buys a product from us is not deceived.</p>
            </div>
          </div>
        </div>
      </section>
      {% include "templates/includes/footer.html" %}

</body>
</html>
