<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "templates/includes/header.html" %}
        <link href="./assets/bldc/css/contact.css" rel="stylesheet" />
      </head>
  <body>
    {% include "templates/includes/navbar.html" %}
    
    <div class="container about mt-5 pt-5">
      <div>
        <div class="contactusContainer mt-5 pt-5">
          <h1 class="display-4 text-center">Get In Touch</h1>
          <div class="bor mx-auto"></div>
        </div>
      </div>
      <div class="flex-con mb-5 pb-5">
        <div class="f-con">
            <div>
              <div>
                <h3>Franchise</h3>
              </div>
              <div>
                <p>
                  The company aims to have a total of 200 access points in Kerala
                  within the next one year and 3000 access points within another
                  year. That is, a customer should not be more than 5km away from
                  his support point. 3000 will be the saturation point. We won't
                  allow more franchise than that. Similarly, the 200 franchise is an
                  interim saturation point. Until all the 200 franchises become
                  sustainable we won't more forward to the 3000-franchise target.<br/><br/>
                  Applicants will be shortlisted only after reviewing the
                  applications and talking to the applicants at least twice. After
                  that, we start training them for a small fee. The first stage is a
                  five-week class with one class per week. Assignments will be given
                  between these classes. Once it is completed, the style and content
                  of the subsequent classes will be determined. There will also be
                  special follow-up classes for those interested but unable to run
                  along. The franchise agreement will be awarded to those who
                  successfully complete the training.<br/><br/> The first three months will be
                  a probationary period even if the franchise agreement is
                  completed. Franchises will be reviewed every six months. Steps
                  will be taken to ensure quality accordingly. We always put
                  customer interest ahead.
                </p>
              </div>
            </div>
          </div>
          <div class="right-con">
            <div class="add-con">
                <div>
                    <h5>Address</h5>
                    <p>Wahni Green Technologies Pvt. Ltd<br/>
                      Vikas Trust Rural Industrial Park,<br/>
                      Sneehatheeram, Talikulam P.O,<br/>
                      Thrissur 680569</p>
                    <h5>Phone</h5>
                    <p>
                      +91 8047111555 (7:30AM-10:30PM)
                    </p>
                    <h5>Email</h5>
                    <p>info@wahni.com
                  </p>
                </div>
            </div>
            <div class="con-img">
                <img src="./assets/bldc/image/contact.png" alt="https://storyset.com/internet" />
            </div>
          </div>
      </div>
    </div>
    <div class="container pb-5 mb-5">
        <div class="ca-con">
            <div class="call-l">
                <img src="./assets/bldc/image/call.png" alt="https://storyset.com/people" />
            </div>
            <div class="call-r">
                <h3 class="display-5">Talk to our customer care executive</h3>
                <a href="tel:+918047111555">
                    <button class="shopNow-btn">Call Now</button>
                </a>
                <a href="https://wahni.com/book-a-quote.html">
                  <button class="shopNow-btn">Quote</button>
                </a>
            </div>
        </div>
    </div>
    {% include "templates/includes/floatingbutton.html" %}
    {% include "templates/includes/footer.html" %}
  </body>
</html>
