<!DOCTYPE html>
<html lang="en">
<head>
    {% include "templates/includes/header.html" %}
    <link href="assets/bldc/css/solar.css" rel="stylesheet" />
    <link href="./assets/bldc/css/contact.css" rel="stylesheet" />

</head>
<body>
    {% include "templates/includes/navbar.html" %}
    <div class="mt-5 pt-4">
        <div class="header mt-5 pt-5 mb-5 pb-5">
            <div class="header-text">
                <h1 class="display-3">Solar Bi <br/>directional Hybrid</h1>
                <div class="contact-con">
                    <a href="./contact.html">
                      <button class="shopNow-btn">Contact us</button>
                    </a>
                  </div>
            </div>
            <div class="header-img-con">
                <img src="./assets/bldc/image/bidir.png" alt="https://storyset.com/worker" />
            </div>
        </div>
    </div>
    <div class="mt-5 -t-4 container lead">
      This is the most beneficial way for the user to switch to solar.
        <div class="h5 pt-3 pb-3">What do we want when we switch to solar?</div>
        Good quality of electricity should be continuously ensured so as not to affect the price of electricity
        in the market.<br/>
        Problems such as harmonics and power factor should not be affected.<br/>
        Batteries should last a long time without damage.<br/>
        The capacity of the panels should be utilized fully.<br/>
        The bidirectional hybrid system is a system that combines all these advantages. Its special system
        can be used to power the grid as well as charge the battery. In Kerala, power outages for more than
        three consecutive hours at night are a rare occurrence.<br/>
        Therefore, it is sufficient to consider the total battery as a backup for those three hours. This
        reduces the size of the battery and allows it to be charged from KSEB during the rainy season when
        the battery is not fully charged. Surplus electricity during good summer months can be sold to
        KSEB. In the new age of electric vehicles, this system can also be used to start charging stations.
        It costs more than the off-grid system and the grid-tie system. At the same time, the facilities and
        the lifespan of the ancillary equipment will increase accordingly. This method is highly
        recommended by Wahni.
    </div>
    <div class="container mt-5 pt-5 pb-5 mb-5">
      <div class="ca-con">
          <div class="call-l">
              <img src="./assets/bldc/image/call.png" alt="https://storyset.com/people" />
          </div>
          <div class="call-r">
              <h3 class="display-5">Talk to our customer care executive</h3>
              <a href="tel:+918047111555">
                  <button class="cbtn">Call Now</button>
              </a>
              <a href="./book-a-quote.html">
                <button class="cbtn">Quote</button>
              </a>
          </div>
      </div>
  </div>
    {% include "templates/includes/footer.html" %}
    <div class="fixedbuttons">
        <div class="support-img-con">
          <a href="./acesspoint.html">
            <img src="./assets/bldc/image/locator.png" alt="button for acess points" />
          </a>
        </div>
        <div class="support-img-con">
          <a href="#">
            <img src="./assets/bldc/image/headphones.png" alt="button for customer support"/>
          </a>
        </div>
      </div>
    <script src="./assets/bldc/js/floating.js"></script>
</body>
</html>