<!DOCTYPE html>
<html lang="en">
 {% include "templates/includes/header.html" %}
<body>
    {% include "templates/includes/navbar.html" %}
    <section class="section pt-5 mt-5">
        <div class="container">
    
            <div class="row">
                <div class="col-md-11 mb-5 mb-md-0" data-aos="fade-up">
                    <p class="mb-0">
                        <div class="ql-editor read-mode">
                            <p>Effective date: 1st day of May 2021</p>
                            <p><br></p>
                            <p>WAHNI.COM, owned and operated by Wahni Green Technologies Private Limited is:</p>
                            <p>&nbsp;&nbsp;1. a business portal providing&nbsp;general information about our organisation
                                and activities;</p>
                            <p>&nbsp;&nbsp;2. an e-commerce platform facilitating B2B and B2C transaction of our products
                                and services; and</p>
                            <p>&nbsp;&nbsp;3. an internet forum (ask.wahni.com) promoting, green technologies, energy
                                conservation and renewable energy use cases.</p>
                            <p>(hereinafter referred to as the "Site").</p>
                            <p><br></p>
                            <p>Wahni Green Technologies Private Limited (herein referred to as “we”, “us” or “our”) is the
                                Site’s data controller and can be contacted at</p>
                            <pre class="ql-code-block-container"
                                spellcheck="false"><div class="ql-code-block">Email: contact@wahni.com</div><div class="ql-code-block">Phone: +91 8047111555</div><div class="ql-code-block">Address: Wahni Green Technologies Pvt Ltd, X/194-B - Vikas Trust Rural Industrial Park,</div><div class="ql-code-block">Snehatheeram, Ravi Nagar Road, Thalikulam P.O, Thrissur, Kerala - 680569, India</div></pre>
                            <p><br></p>
                            <p><strong>Purpose of this Document</strong></p>
                            <p>The purpose of this privacy policy (this "Privacy Policy") is to inform users of our Site
                                ((hereinafter referred to as “user”, “you” or “your”) of the following:</p>
                            <p>&nbsp;&nbsp;1. The personal data we will collect;</p>
                            <p>&nbsp;&nbsp;2. Use of collected data;</p>
                            <p>&nbsp;&nbsp;3. Who has access to the data collected;</p>
                            <p>&nbsp;&nbsp;4. The rights of Site users; and</p>
                            <p>&nbsp;&nbsp;5. The Site's cookie policy.</p>
                            <p>This Privacy Policy applies in addition to the Terms and Conditions of our Site.</p>
                            <p><br></p>
                            <p><strong>Legal and Regulatory Compliance</strong></p>
                            <p>For users in India, we adhere to the data protection regulations as enshrined in the
                                Information Technology Act, 2000 and additionally, Information Technology (Intermediaries
                                Guidelines) Rules, 2011 (the “IT Act and Rules”).</p>
                            <p>We have not appointed a Data Protection Officer but we do have a Grievance Officer to address
                                complaints relating to the processing of your personal information and to respond to data
                                access and correction requests in an expeditious manner.</p>
                            <p><br></p>
                            <p><strong>Consent of the User</strong></p>
                            <p>By using our Site you agree that you consent to the conditions set out in this Privacy
                                Policy.</p>
                            <p>When the legal basis for us processing your personal data is that you have provided your
                                consent to that processing, you may withdraw your consent at any time. If you withdraw your
                                consent, it will not make processing, which we completed before you withdraw your consent,
                                unlawful.</p>
                            <p>You can withdraw your consent by emailing the Grievance Officer at grievance@wahni.com.</p>
                            <p><br></p>
                            <p><strong>Legal Basis for Processing</strong></p>
                            <p>We collect and process personal data about users only when we have a legal basis for doing
                                so.</p>
                            <p>We rely on the following legal bases to collect and process the personal data of users:</p>
                            <p>&nbsp;&nbsp;1. Users have provided their consent to the processing of their data for one or
                                more specific purposes;</p>
                            <p>&nbsp;&nbsp;2. Processing of user personal data is necessary for us or a third party to
                                pursue a legitimate interest. Our legitimate interest is not overridden by the interests or
                                fundamental rights and freedoms of users. Our legitimate interest(s) are to maintain network
                                and information security and prevent identity thefts, phishing, chargeback fraud and clean
                                fraud; and</p>
                            <p>&nbsp;&nbsp;3. Processing of user personal data is necessary for us to take, at the request
                                of a user, steps before entering a sale or service contract or for the performance of a sale
                                or service contract to which a user is a party. If a user does not provide the necessary
                                personal data then we may not entertain such user’s request for any of our products and/or
                                services</p>
                            <p><br></p>
                            <p><strong>Collection of Personal Data</strong></p>
                            <p>We only collect data that helps us achieve the purpose set out in this Privacy Policy. We
                                will not collect any additional data beyond the data listed below without notifying you
                                first.</p>
                            <p><br></p>
                            <p><strong>Data Collected Automatically</strong></p>
                            <p>When you visit and use our Site, we may automatically collect and store the following
                                information:</p>
                            <p>&nbsp;&nbsp;1. IP address;</p>
                            <p>&nbsp;&nbsp;2. Location;</p>
                            <p>&nbsp;&nbsp;3. Hardware and software details;</p>
                            <p>&nbsp;&nbsp;4. Clicked links; and</p>
                            <p>&nbsp;&nbsp;5. Content viewed.</p>
                            <p><br></p>
                            <p><strong>Data Collected in a Non-Automatic Way</strong></p>
                            <p>We may also collect your following data (including but not limited to) when you create a user
                                account or submit a form or post a comment on our Site:</p>
                            <p>&nbsp;&nbsp;1. First and last name</p>
                            <p>&nbsp;&nbsp;2. Age</p>
                            <p>&nbsp;&nbsp;3. Email address</p>
                            <p>&nbsp;&nbsp;4. Phone number</p>
                            <p>&nbsp;&nbsp;5. Postal Address</p>
                            <p>&nbsp;&nbsp;6. Payment and billing information</p>
                            <p>&nbsp;&nbsp;7. Information you post on the Site</p>
                            <p><br></p>
                            <p><strong>How We Use Personal Data</strong></p>
                            <p>Data collected on our Site will only be used for the purposes specified in this Privacy
                                Policy or indicated on the relevant pages of our Site. We will not use your data beyond what
                                we disclose in this Privacy Policy.</p>
                            <p>The data we collect automatically is used for the following purposes:</p>
                            <p>&nbsp;&nbsp;1. To provide, support and improve our services;</p>
                            <p>&nbsp;&nbsp;2. To optimize and personalize our service, Site content and advertisements; and
                            </p>
                            <p>&nbsp;&nbsp;3. To create aggregated and anonymized statistics about our Customers.</p>
                            <p>The data we collect when the user fills and submit the various Site forms for sales contact,
                                customer feedback, account signup, order and payment etc may be used for, including but not
                                limited to:</p>
                            <p>&nbsp;&nbsp;1. carrying out user communications (such as emails, notifications, SMS, system
                                alerts etc);</p>
                            <p>&nbsp;&nbsp;2. personalizing advertisements, site contents and customer services;</p>
                            <p>&nbsp;&nbsp;3. tracking product sales and user engagements;</p>
                            <p>&nbsp;&nbsp;4. facilitating invoice payments and refunds/chargebacks;</p>
                            <p>&nbsp;&nbsp;5. fulfilling seller/service provider obligations; and</p>
                            <p>&nbsp;&nbsp;6. meeting legal requirements and regulatory compliances.</p>
                            <p><br></p>
                            <p><strong>Who We Share Personal Data With</strong></p>
                            <p>Employees: We may disclose user data to any member of our organisation who reasonably needs
                                access to user data to achieve the purposes set out in this Privacy Policy.</p>
                            <p>
                                <font>Third Parties: We may share user data with the following third parties:</font>
                            </p>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td data-row="1"><span style="background-color: rgb(239, 239, 239);">
                                                <font>#</font>
                                            </span></td>
                                        <td data-row="1"><span style="background-color: rgb(239, 239, 239);">
                                                <font>Third-Party</font>
                                            </span></td>
                                        <td data-row="1"><span style="background-color: rgb(239, 239, 239);">
                                                <font>Data Shared</font>
                                            </span></td>
                                        <td data-row="1"><span style="background-color: rgb(239, 239, 239);">
                                                <font>Purpose</font>
                                            </span></td>
                                    </tr>
                                    <tr>
                                        <td data-row="2">
                                            <font>1</font>
                                        </td>
                                        <td data-row="2">
                                            <font>Banks and Payment Processing Platforms</font>
                                        </td>
                                        <td data-row="2">
                                            <font>Name and Contact details; Payment information</font>
                                        </td>
                                        <td data-row="2">
                                            <font>to enable payment transactions</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-row="3">
                                            <font>2</font>
                                        </td>
                                        <td data-row="3">
                                            <font>Product/Service Suppliers</font>
                                        </td>
                                        <td data-row="3">
                                            <font>Name and Contact details; Billing information</font>
                                        </td>
                                        <td data-row="3">
                                            <font>to process the product/service order</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-row="4">
                                            <font>3</font>
                                        </td>
                                        <td data-row="4">
                                            <font>Delivery Partners</font>
                                        </td>
                                        <td data-row="4">
                                            <font>Name and Contact detail</font>
                                        </td>
                                        <td data-row="4">
                                            <font>to deliver or return the ordered products</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-row="5">
                                            <font>4</font>
                                        </td>
                                        <td data-row="5">
                                            <font>Google Analytics</font>
                                        </td>
                                        <td data-row="5">
                                            <font>Data Collected Automatically</font>
                                        </td>
                                        <td data-row="5">
                                            <font>to track user engagements on the Site</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-row="6">
                                            <font>5</font>
                                        </td>
                                        <td data-row="6">
                                            <font>Advertising Agencies or Networks</font>
                                        </td>
                                        <td data-row="6">
                                            <font>Email ID; Data Collected Automatically</font>
                                        </td>
                                        <td data-row="6">
                                            <font>to personalize your advertisements</font>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <font>Third parties will not be able to access user data beyond what is reasonably necessary
                                    to achieve the given purpose.</font>
                            </p>
                            <p>Other Disclosures: We will not sell or share your data with other third parties, except in
                                the following cases:</p>
                            <p>&nbsp;&nbsp;1. If the law requires it;</p>
                            <p>&nbsp;&nbsp;2. If it is required for any legal proceeding;</p>
                            <p>&nbsp;&nbsp;3. To prove or protect our legal rights; and</p>
                            <p>&nbsp;&nbsp;4. To buyers or potential buyers of this company in the event that we seek to
                                sell the company.</p>
                            <p>If you follow hyperlinks from our Site to another Site, please note that we are not
                                responsible for and have no control over their privacy policies and practices.</p>
                            <p><br></p>
                            <p><strong>How Long We Store Personal Data</strong></p>
                            <p>User data will be stored for six years from the date of deletion of the user account.</p>
                            <p>You will be notified if your data is kept for longer than this period.</p>
                            <p><br></p>
                            <p><strong>How We Protect Your Personal Data</strong></p>
                            <p>In order to protect your security, we use industry-standard encryption and store your data on
                                servers in secure facilities. The data we store is only accessible to our employees. Our
                                employees are bound by strict confidentiality agreements and a breach of this agreement
                                would result in the employee's termination.</p>
                            <p>Our payment gateway and payment processors are compliant with the payment card industry
                                standard (generally referred to as PCI compliant service providers). You are advised not to
                                send your full credit/debit card details through any unencrypted electronic platforms or
                                mediums.</p>
                            <p>Where we have given you (or where you have chosen) a username and password which enables you
                                to access certain parts of the Site, you are responsible for keeping these details
                                confidential. We ask you not to share your password with anyone.</p>
                            <p>While we take all reasonable precautions to ensure that user data is secure and that users
                                are protected, there always remains the risk of harm. The Internet as a whole can be
                                insecure at times and therefore we are unable to guarantee the security of user data beyond
                                what is reasonably practical.</p>
                            <p>As a user of the Site the IT Act and Rules grants you the right against improper disclosure
                                of your personal information and we have implemented strict physical, electronic, and
                                procedural safeguards to try to prevent unauthorised access of your personal data.</p>
                            <p><br></p>
                            <p><strong>Legal Age to Use the Site</strong></p>
                            <p>The minimum age to use our website is 18 years of age. We do not knowingly collect or use
                                personal data from children under 16 years of age. If we learn that we have collected
                                personal data from a child under 16 years of age, the personal data will be deleted as soon
                                as possible. If a child under 16 years of age has provided us with personal data their
                                parent or guardian may contact our Grievance Officer.</p>
                            <p><br></p>
                            <p><strong>How to Access, Modify, Delete, or Challenge the Data Collected</strong></p>
                            <p>If you would like to know if we have collected your personal data, how we have used your
                                personal data if we have disclosed your personal data and to who we disclosed your personal
                                data if you would like your data to be deleted or modified in any way, or if you would like
                                to exercise any of your other rights under the law of the land, please contact our Grievance
                                Officer at the address last written below.</p>
                            <p><br></p>
                            <p><strong>Cookie Policy</strong></p>
                            <p>A cookie is a small file, stored on a user's hard drive by a website. Its purpose is to
                                collect data relating to the user's browsing habits. You can choose to disable cookies
                                entirely in your internet browser, but this may decrease the quality of your user
                                experience.</p>
                            <p>We use the following types of cookies on our Site:</p>
                            <p>&nbsp;&nbsp;1. Functional cookies: Functional cookies are used to remember the selections you
                                make on our Site so that your selections are saved for your next visits;</p>
                            <p>&nbsp;&nbsp;2. Analytical cookies: Analytical cookies allow us to improve the design and
                                functionality of our Site by collecting data on how you access our Site, for example, data
                                on the content you access, how long you stay on our Site, etc;</p>
                            <p>&nbsp;&nbsp;3. Targeting cookies: Targeting cookies collect data on how you use the Site and
                                your preferences. This allows us to personalise the information you see on our Site for you;
                                and</p>
                            <p>&nbsp;&nbsp;4. Third-Party Cookies: Third-party cookies are created by a website other than
                                ours. We may use third-party cookies for purposes such as tracking Site traffic,
                                facilitating secure financial transactions etc.</p>
                            <p><br></p>
                            <p><strong>Modifications</strong></p>
                            <p>This Privacy Policy may be amended from time to time in order to maintain compliance with the
                                law of the Union of India and to reflect any changes to our data collection process. When we
                                amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy
                                Policy. We recommend that our users periodically review our Privacy Policy to ensure that
                                they are notified of any updates. If necessary, we may notify users by email of changes to
                                this Privacy Policy.</p>
                            <p><br></p>
                            <p><strong>Jurisdiction</strong></p>
                            <p>If you choose to visit the site, your visit and any dispute over privacy are subject to this
                                policy and the Site's Terms and Conditions. In addition to the foregoing, any disputes
                                arising under this policy shall be governed by the laws of India.</p>
                            <p>Further, please note that the site stores your data with the cloud platforms provided by
                                coolwrks.com, which may store this data on their servers located in Germany and/or
                                Netherlands. coolwrks.com has security measures in place to protect the loss, misuse and
                                alteration of the information, details of which are available on their website. The privacy
                                policy adopted by coolwrks.com is also detailed on their website.</p>
                            <p>In the event you have questions or concerns about the security measures adopted by
                                coolwrks.com, you can contact their data protection/privacy team/legal team or designated
                                grievance officer at these organisations, whose contact details are available in its privacy
                                policy, or can also write to our grievance officer at the address provided hereinbelow.</p>
                            <p><br></p>
                            <p><strong>Complaints</strong></p>
                            <p>If you have any complaints about how we process your personal data, please contact us through
                                the contact methods listed in the Contact Information section so that we can, where
                                possible, resolve the issue. If you feel we have not addressed your concern in a
                                satisfactory manner you may contact a supervisory authority (such as your nearest cybercrime
                                cell or local police station).</p>
                            <p><br></p>
                            <p><strong>Grievance Officer</strong></p>
                            <p>In accordance with the IT Act and Rules made and applicable thereunder, the name and contact
                                details of the Grievance Officer are provided below.</p>
                            <p>Address</p>
                            <pre class="ql-code-block-container"
                                spellcheck="false"><div class="ql-code-block">Attn: Grievance Officer</div><div class="ql-code-block">Wahni Green Technologies Pvt. Ltd.,</div><div class="ql-code-block">X/194-B - Vikas Trust Rural Industrial Park,</div><div class="ql-code-block">Snehatheeram, Ravi Nagar Road,</div><div class="ql-code-block">Thalikulam P.O., Thrissur,</div><div class="ql-code-block">Kerala - 680569, India</div><div class="ql-code-block">Email ID: grievance@wahni.com</div><div class="ql-code-block">Mobile Number: +91 8047111555</div></pre>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "templates/includes/footer.html" %}
</body>
</html>
