<!DOCTYPE html>
<html lang="en">
 <head>
  {% include "templates/includes/header.html" %}
  <link href="assets/bldc/css/solar.css" rel="stylesheet" />
</head>
<body>
    {% include "templates/includes/navbar.html" %}
    <div class="header mt-5 pt-5">
      <div class="header-text">
        <h1 class="display-1 text-center">Services</h1>
        <div class="contact-con">
          <a href="./contact.html">
            <button class="shopNow-btn">Contact us</button>
          </a>
        </div>
      </div>
      <div class="header-img-con">
        <img src="./assets/bldc/image/solar.png" alt="https://storyset.com/worker" />
      </div>
    </div>
    <div class="services mb-5 mt-5 pb-5">
      <div>
        <h4 class="display-5 text-center mt-2 mb-5">Services</h4>
      </div>
      <div class="solar-services">
        <div class="service-card">
          <a href="./ongrid.html">
            <div class="text-center ogi">
              <img src="./assets/bldc/image/ongridnew.png" alt="https://storyset.com/outdoors"/>
            </div>
             <div class="service-card-content">
               <h6 class="text-center">Solar On Grid</h6>
               <a href="tel:+918047111555">
                <button class="shopNow-btn">Call Now</button>
               </a>
               <a href="./contact.html">
                <button class="shopNow-btn">Contact us</button>
              </a>           
            </div>
          </a>
        </div>
        <div class="service-card">
          <a href="./offgrid.html">
            <div class="text-center ogi">
              <img class="ongrid-img" src="./assets/bldc/image/offgrid.png" alt="https://storyset.com/worker"/>
            </div>
             <div class="service-card-content">
               <h6 class="text-center">Solar Off Grid</h6>
               <a href="tel:+918047111555">
                <button class="shopNow-btn">Call Now</button>
               </a>
               <a href="./contact.html">
                <button class="shopNow-btn">Contact us</button>
              </a>
             </div>
          </a>
        </div>
        <div class="service-card">
          <a href="./optimization.html">
            <div>
              <img  src="./assets/bldc/image/bidir.png" alt="https://storyset.com/internet"/>
            </div>
             <div class="service-card-content">
               <h6 class="text-center">Solar Bi Directonal hybrid</h6>
               <a href="tel:+918047111555">
                <button class="shopNow-btn">Call Now</button>
               </a>
               <a href="./contact.html">
                <button class="shopNow-btn">Contact us</button>
              </a>
             </div>
          </a>
        </div>
      </div>
      <div class="solar-services mt-4 pt-4">
        <div class="service-card">
          <div>
            <img src="./assets/bldc/image/water.png" alt="https://storyset.com/outdoors"/>
          </div>
           <div class="service-card-content">
             <h6 class="text-center">Solar water heating</h6>
             <a href="tel:+918047111555">
              <button class="shopNow-btn">Call Now</button>
             </a>
             <a href="./contact.html">
              <button class="shopNow-btn">Contact us</button>
            </a>
           </div>
        </div>
        <div class="service-card">
          <div>
            <img src="./assets/bldc/image/load.png" alt="https://storyset.com/people"/>
          </div>
           <div class="service-card-content">
             <h6 class="text-center">Load Optimisation</h6>
             <a href="tel:+918047111555">
              <button class="shopNow-btn">Call Now</button>
             </a>
             <a href="./contact.html">
              <button class="shopNow-btn">Contact us</button>
            </a>
           </div>
        </div>
        <div class="service-card">
          <div>
            <img src="./assets/bldc/image/car.png" alt="https://storyset.com/transport"/>
          </div>
           <div class="service-card-content">
             <h6 class="text-center">EV charging</h6>
             <a href="tel:+918047111555">
              <button class="shopNow-btn">Call Now</button>
             </a>
             <a href="./contact.html">
              <button class="shopNow-btn">Contact us</button>
            </a>
           </div>
        </div>
      </div>
    </div>
    <div class="fixedbuttons">
      <div class="support-img-con">
        <a href="./acesspoint.html">
          <img src="./assets/bldc/image/locator.png" alt="button for acess points" />
        </a>
      </div>
      <div class="support-img-con">
        <a href="#">
          <img src="./assets/bldc/image/headphones.png" alt="button for customer support"/>
        </a>
      </div>
    </div>
    {% include "templates/includes/footer.html" %}
    <script src="./assets/bldc/js/floating.js"></script>
</body>
</html>