<div class="fixedbuttons">
    <div class="support-img-con" data-bs-toggle="tooltip" data-bs-placement="left" title="acess points">
      <a href="./acesspoint.html">
        <img src="./assets/bldc/image/locator.png" alt="button for acess points" />
      </a>
    </div>
    <div class="support-img-con"  data-bs-toggle="tooltip" data-bs-placement="left" title="customer support">
      <a href="#">
        <img src="./assets/bldc/image/headphones.png" alt="button for customer support" />
      </a>
    </div>
  </div>
  <script src="http://103.86.176.198/assets/bldc/js/floating.js"></script>