<footer class="container-fluid footercolor">
  <div class="footer-container">
    <div>
      <h3>WAHNI GREEN</h3>
      <p class="address">Wahni Green Technologies Pvt. Ltd<br/>
        Vikas Trust Rural Industrial Park,<br/>
        Sneehatheeram, Thalikulam P.O,<br/>
        Thrissur, Kerala 680569</p>
    </div>
    <div class="Contactusfooter">
      <div>
        <h5>Contact Us</h5>
      </div>
      <a href="https://www.instagram.com/wahnigreen">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.facebook.com/Wahni.Green/">
        <i class="bi bi-facebook"></i>
      </a>
    </div>
    <div class="policies">
      <h5>
        Policies
      </h5>
        <li>
          <a href="https://wahni.com/privacy">
            Privacy policies
          </a>
        </li>
        <li>
          <a href="https://wahni.com/terms">
            Terms & conditions
          </a>
        </li>
    </div>
  </div>
  <div class="copyright">
    <p>© copyright Wahni green technologies<br/>All rights reserved</p>
  </div>
</footer>